<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le Bon Mur{% endblock %}</title>
    <link rel="icon" href="/assets/logo-leBonMur.svg">
    <link rel="stylesheet" href="/style/style.css">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <a href="{{ path("app_index") }}"><img src="/assets/LeBonMur-Logo-black.svg"></a>
            <div class="header_link">
                <div class="header_over_link">
                    <a class="hoverLink" href="{{ path("app_index") }}">Acceuil</a>
                    <a class="hoverLink" href="{{ path("app_annonces") }}">Annonces</a>
                    <a class="hoverLink" href="{{ path("app_annonce_add") }}">Poster</a>
                    <form class="input_search">
                        <input type="search" id="search" class="input_input" placeholder=" ">
                        <label for="search" class="input_label">Recherche</label>
                    </form>
                </div>
                <div class="header_profile_link">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a class="buttonHover" href="{{ path("app_profil") }}">
                            Profil
                        </a>
                    {% else %}
                        <a class="buttonHover" href="{{ path("app_login") }}">
                            Se connecter
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
</header>
<main>
    <div class="pub_banner_left pub_banner"
         style="background-image: url('https://www.20dollarbanners.com/img/portfolio/160x600/9KTzfd60715_r_1.gif')"><a
                class="pub_banner" href="{{ path("app_pub") }}"> </a></div>
    <div class="main_container">
        {% block main %}{% endblock %}
    </div>
    <div class="pub_banner_right pub_banner"
         style="background-image: url('https://www.20dollarbanners.com/img/portfolio/160x600/9KTzfd60715_r_1.gif')"><a
                class="pub_banner" href="{{ path("app_pub") }}"></a></div>
</main>
</body>
</html>
