{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/style/addAnnonceStyle.css">
{% endblock %}

{% block main %}
    <form class="form_add_annonce" action="{{ path('app_annonce_add_form') }}" method="post"
    enctype="multipart/form-data">
        <div class="input_container">
            <input type="text" id="titre" name="title" class="input_input" placeholder=" ">
            <label for="titre"  class="input_label">Titre</label>
        </div>
        <div class="input_container">
            <input type="text" id="description" name="description" class="input_input" placeholder=" ">
            <label for="description"  class="input_label">Description</label>
        </div>
        <div class="input_container">
            <input type="number" id="prix" name="price" class="input_input" placeholder=" ">
            <label for="prix"  class="input_label">Prix</label>
        </div>
        <div class="input_container">
            <p>Sélectionnez les catégories :</p>
            {% for categorie in categories %}
                <input type="checkbox" name="categories[]" id="{{ categorie.name }}" value="{{ categorie.name }}">
                <label for="{{ categorie.name }}">{{ categorie.name }}</label>
            {% endfor %}
        </div>
        <div class="input_container file_contaienr">
            <input type="file" name="photo" id="file"  />
            <label class="buttonCharge" for="file"><p class="buttonChargeText">Choisis des photos</p></label>
        </div>
        <input class="buttonHover" type="submit" value="Publier votre annonce"/>
    </form>
{% endblock %}