{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }} - Le Bon Mur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/style/annonceById.css">
{% endblock %}

{% block main %}
    <section class="info">
        <div class="container_image">
            <div class="first_image">
                <figure>
                    <img src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg"></img>
                </figure>
            </div>
            <div class="rest_image">
                <div class="contain_image {{ tempo|length == 2 ? 'full_height' }}">
                    <figure>
                        <img src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg"></img>
                    </figure>
                </div>
                <div class="contain_image">
                    <figure>
                        <img src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg"></img>
                    </figure>
                </div>
            </div> 
        </div>
        <h1>{{ annonce.title }}</h1>
        <p class="price">{{ annonce.price }} €</p>
        <p class="date">{{ annonce.createdAt|date("m/d/Y") }}</p>

        <h2>Description</h2>
        <p class="description">{{ annonce.description }}</p>

        <h2>Questions</h2>
        <div>
            <form action="get" class="question_form">
                <div class="contain_question_form">
                    <label for="content"></label>
                    <input type="text" name="content" id="content" placeholder="Ecrivez votre question" required>
                    <div class="button_form">
                        <input type="submit" value="Envoyer">
                    </div>
                </div>
            </form>
            {% for question in annonce.questions %}
                <div class="container_block_question">
                    <p class="question__block_title">Question :</p>
                    <div class="content_question">
                        <p>{{ question.content }}</p>
                        <form action="get" class="answer_form">
                            <div class="contain_answer_form">
                                <label for="content"></label>
                                <input type="text" name="content" id="content" placeholder="Ecrivez votre réponse" required>
                                <div class="button_form">
                                    <input type="submit" value="Envoyer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% for reponse in question.reponses %}
                    <div class="container_block_question">
                        <p class="question__block_title">Réponse :</p>
                        <p class="content_answer">{{ reponse.content }}</p>
                    </div>

                {% endfor %}
            <br />
            {% endfor %}
        </div>
    </section>

{% endblock %}
