{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }} - Le Bon Mur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/style/annonceById.css">
{% endblock %}

{% block main %}
    <section class="info">
        <div class="container_image">
            <div class="first_image">
                <figure>
                    <img src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg"></img>
                </figure>
            </div>
            <div class="rest_image">
                <div class="contain_image {{ tempo|length == 2 ? 'full_height' }}">
                    <figure>
                        <img src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg"></img>
                    </figure>
                </div>
                <div class="contain_image">
                    <figure>
                        <img src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg"></img>
                    </figure>
                </div>
            </div> 
        </div>
        <h1>{{ annonce.title }}</h1>
        <p class="price">{{ annonce.price }} €</p>
        <p class="date">{{ annonce.createdAt|date("m/d/Y") }}</p>

        <h2>Description</h2>
        <p class="description">{{ annonce.description }}</p>

        <br />
        <div>
            {% for question in annonce.questions %}
                <p>Question : {{ question.content }}</p>


                {% for reponse in question.reponses %}
                    <p>Réponse : {{ reponse.content }}</p>

                {% endfor %}
            <br />
            {% endfor %}
        </div>
    </section>

{% endblock %}
