{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }} - Le Bon Mur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/annonceById.css') }}">
{% endblock %}

{% block main %}
    <section class="info">
        <div class="container_image">
            {% for photo in annonce.photos %}
                <div class="first_image">
                    <figure>
                        <img src="{{ annonce.photos ? '/uploads/' ~ annonce.photos[0] : 'https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg' }}"></img>
                    </figure>
                </div>
            {% endfor %}
            {% if annonce.photos|length == 0 %}
                <div class="first_image">
                    <figure>
                        <img src="{{ annonce.photos ? '/uploads/' ~ annonce.photos[0] : 'https://images.caradisiac.com/logos/3/7/7/6/273776/S7-essai-moto-guzzi-v100-s-la-jeunesse-centenaire-198620.jpg' }}"></img>
                    </figure>
                </div>
            {% endif %}
        </div>

        <div>
            <h1>{{ annonce.title }}</h1>
            <p class="price">{{ annonce.price }} €</p>
            <p class="date">{{ annonce.createdAt|date("m/d/Y") }}</p>
        </div>

        <div>
            <h2>Description</h2>
            <p class="description">{{ annonce.description }}</p>
        </div>

        <div>
            <h2>Vendeur</h2>
            <div class="vendorInfos user-note">
                <a class="buttonHover" href="{{ path("app_user_id", {id: annonce.author.id,}) }}">{{ annonce.author.name }}</a>
                <span>Que pensez-vous de ce vendeur ?</span>
                <form action="{{ path('app_user_note', { id: annonce.author.id}) }}" method="post">
                    <button class="user-note-up" name="noter" value="up">+1</button>
                    <span class="user-note-total"> {{ annonce.author.note }} </span>
                    <button class="user-note-down" name="noter" value="down">-1</button>
                </form>
            </div>
        </div>

        <div class="questionDiv">
            <h2>Questions</h2>
            <div>
                {% if ( annonce.author.id != utilisateur.id ) %}
                    <form action="{{ path("app_question_add",{ idAnnonce: annonce.id }) }}" class="question_form" method="post">
                        <div class="contain_question_form">
                            <div class="input_container">
                                <input class="input_input" type="text" name="content" id="content" placeholder=" " required>
                                <label for="content" class="input_label">Question</label>
                            </div>
                            <div class="buttonCharge">
                                <input type="submit" class="buttonChargeText" value="Envoyer">
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% for question in annonce.questions %}
                    <div class="container_block_question">
                        <p class="question__block_title">Question de {{ question.author.name }}: @{{ question.createdAt|date("m/d/Y") }}</p>
                        <div class="content_question">
                            <p>{{ question.content }}</p>
                            {% if ( annonce.author.id == utilisateur.id ) %}
                                <form action="{{ path("app_reponse_add",{ idAnnonce: annonce.id, idQuestion: question.id }) }}" class="answer_form" method="post">
                                    <div class="contain_answer_form">
                                        <div class="input_container">
                                            <input class="input_input" type="text" name="contentReponse" id="contentReponse" placeholder=" " required>
                                            <label for="contentReponse" class="input_label">Réponse</label>
                                        </div>
                                        <div class="buttonCharge">
                                            <input type="submit" class="buttonChargeText" value="Envoyer">
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                        {% for reponse in question.reponses %}
                            <div class="container_block_answer">
                                <p class="question__block_title">Réponse de {{ reponse.author.name }} : @{{ reponse.createdAt|date("m/d/Y") }}</p>
                                <p class="content_answer">{{ reponse.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <br />
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
